/* Experiment Navbar */

.nav-bgColor {
  background-color: #303030;
  position: fixed !important;
  min-width: 100%;
  z-index: 1;
}


/* UXer */

.nav-bgColor{
  background-color: #303030;
  position: fixed !important;
  min-width: 100%;
  z-index: 1;
}
