@import "../variables";

#answerTestnote {
  .no-margin {
    margin: 0px !important;
  }

  .space-top {
    margin-top: 50px;
  }

  .profile-block {
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }

  .profile-img {
    width: 100px;
    height: 100px;
  }

  .exper-name {
    font-size: 30px;
    font-weight: 600;
  }

  .space-block {
    margin: 50px auto;
  }

  .answer-block {
    background-color: $white;
    border-radius: 20px;
    padding: 30px;
  }

  .space-head-block {
    margin-top: 0px;
  }

  .title {
    font-size: 30px;
    font-weight: 600;
  }

  .question {
    font-size: 25px;
  }

  .text-style {
    font-size: 18px !important;
  }

  .space-btn {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .btn-submit-test {
    background-color: $blue !important;
    border: 2px solid $blue !important;
    color: $light !important;
    width: 100%;
    border-radius: 10px !important;
  }

  .btn-submit-test:hover {
    background-color: $blue-hover !important;
    border: 2px solid $blue-hover !important;
  }

  .bg-experprofile {
    width: 100%;
    height: auto;
    padding: 30px;
    background-color: $white;
    border-radius: 20px;
  }

  .close_btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .topic-text {
    font-weight: 700;
  }

  @media (min-width: 768px) {
    .exper-name {
      font-size: 30px;
    }
  }
}
