@import "../variables";

#questionnaire {
  .bg-create-question {
    background-color: aqua;
  }
  .no-margin {
    margin: 0px;
  }

  .space-head-block {
    margin-top: 85px;
  }

  .questionnaire-block {
    background-color: $white;
    border-radius: 20px;
    padding: 30px 0px;
    margin-top: 50px;
  }

  .space-side {
    padding: 0px 60px;
  }
  
  .space-side-2 {
    padding: 0px 0px;
  }

  .title {
    font-size: 40px;
    font-weight: 700;
  }

  .title-2 {
    font-size: 20px;
    font-weight: 400;
  }

  .black-line {
    height: 0px;
    border-right-width: 0px;
  }

  .question {
    font-size: 28px;
    font-weight: 600;
  }

  .text-style {
    font-size: 18px !important;
    background-color: $light;
    height: 90px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .space-btn {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .btn-save-questionnaire {
    background-color: $blue !important;
    border: 2px solid $blue !important;
    color: $light !important;
    width: 100%;
    border-radius: 10px !important;
    font-size: 20px;
    font-weight: 600px;
  }

  .btn-secondary {
    background-color: $blue !important;
    border: 2px solid $blue !important;
    color: $light !important;
    width: 100%;
    border-radius: 10px !important;
    font-size: 20px;
    padding: 10px;
  }

  .indropdown {
    position: absolute;
    transform: translate(-50%, -30%);
    background-color: $light !important;
    border: 2px solid $light !important;
    color: $blue !important;
    width: 100%;
    border-radius: 10px !important;
    font-size: 20px;
    padding: 2px;
  }

  .question-block {
    width: 100%;
    height: auto;
    background-color: $white;
    border: 2px solid $white;
    padding: 10px 0px;
    margin: 0px;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 2px 10px $blue;
      border: 2px solid $blue;
      justify-self: center;
    }
  }

  .btn-add-question {
    background-color: $white !important;
    border: 2px solid $white !important;
    color: $dark !important;
    width: 100%;
    border-radius: 10px !important;
    font-size: 20px;
    cursor: pointer;
  }
}
