@import "../variables";

#questionnaire {
  .no-margin {
    margin: 0px;
  }

  .questionnaire-block {
    background-color: $white;
    border-radius: 20px;
    padding: 30px 0px;
    margin-top: 50px;
  }

  .space-side {
    padding: 0px 100px;
  }

  .black-line {
    height: 0px;
    border-right-width: 0px;
  }

  .question-block {
    width: 100%;
    height: auto;
    background-color: $white;
    border: 2px solid $white;
    padding: 10px 0px;
    margin: 0px;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 2px 10px $blue;
      border: 2px solid $blue;
      justify-self: center;
    }
  }

  .space-top-btn {
    padding: 15px 0px 0px 0px;
  }

  .btn-multiple {
    background-color: $blue !important;
    border: 2px solid $blue !important;
    color: $light !important;
    width: 80%;
    border-radius: 10px !important;
    font-size: 18px;
    padding: 10px 10px 11px 10px;
  }

  .textHeight {
    margin-right: 10px;
  }

  .sortdown {
    margin: 0px 0px 3px 70px;
  }

  .btn-secondary {
    background-color: $blue !important;
    border: 2px solid $blue !important;
    color: $light !important;
    width: 100%;
    border-radius: 10px !important;
    font-size: 20px;
    padding: 10px;
  }

  .indropdown {
    position: absolute;
    transform: translate(-50%, -30%);
    background-color: $white !important;
    border: 2px solid $white !important;
    color: $blue !important;
    width: 82%;
    border-radius: 10px !important;
    font-size: 18px;
    padding: 2px;
  }

  .text-style {
    font-size: 18px !important;
    background-color: $light;
    height: 90px;
    border-radius: 10px;
    margin: 0px 0px 20px 0px;
  }

  .sortdown-mul {
    margin: 0px 0px 2px 20px;
  }

  .icon-mul-check {
    padding: 5px 0px;
    margin: 17px 0px;
    position: absolute;
    bottom: 0px;
  }

  .choice {
    background-color: $white;
    border-radius: 10px;
  }

  .icon-delete {
    padding: 5px 0px;
    margin: 17px 0px;
    position: absolute;
    bottom: 0px;
  }

  .sortdown-check {
    margin: 0px 0px 2px 50px;
  }

  .btn-add-question {
    background-color: $white !important;
    border: 2px solid $white !important;
    color: $dark !important;
    width: 100%;
    border-radius: 10px !important;
    font-size: 20px;
    cursor: pointer;
  }

  .space-btn {
    margin: 50px 0px 50px 0px;
  }

  .btn-save-questionnaire {
    background-color: $blue !important;
    border: 2px solid $blue !important;
    color: $light !important;
    width: 100%;
    border-radius: 10px !important;
    font-size: 20px;
    font-weight: 600px;
  }
}
