@import "../variables";

#exper-page {
  .no-margin {
    margin: 0px !important;
  }

  .no-padding {
    padding: 0px !important;
  }

  .space-head-block {
    margin-top: 50px;
  }

  .search-form {
    color: $dark;
  }

  .logo-search {
    padding-right: 1px;
  }

  .editSearch {
    width: 200px;
    position: relative;
    left: 40px;
  }

  .search {
    border-radius: 10px;
    background: $white;
  }

  .share {
    padding: 10px 20px 10px 10px;    
    border-radius: 10px;
    background: $white;
  }

  .copy-block {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: $blue;
    border-radius: 100%;
    right: 20px;
    z-index: 1;
  }

  .copy-icon {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 2;
    right: 100px;
  }

  .share-block {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: $blue;
    border-radius: 100%;
  }

  .share-icon {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 2;
    right: 100px;
  }

  .profile {
    width: 100%;
    height: auto;
    background-color: $white;
    border: 2px solid $white;
    border-radius: 10px;
    margin: 15px 0px;
    padding: 20px;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 2px 10px $blue;
      border: 2px solid $blue;
      justify-self: center;
    }
  }

  .profile-block {
    justify-items: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
  }

  .profile-img {
    width: 100px;
    height: 100%;
    border-radius: 100%;
  }

  .link {
    color: $dark;
  }
}