@import "../variables";

#project-page {
  .no-margin {
    margin: 0px !important;
  }

  .space-head-block {
    margin-top: 50px;
  }

  .search-form {
    color: $dark;
  }

  .dropdown-btn {
    cursor: pointer;
  }

  .project {
    width: 100%;
    height: auto;
    margin: 15px 0px;
    background-color: $white;
    border-radius: 10px;
    border-collapse: collapse;
  }

  .cover-block {
    width: 100%;
    height: 150px;
    overflow: hidden;
  }

  .cover-img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
  }

  .project-text {
    padding: 10px;
  }

  .space-icon {
    margin-right: 10px;
  }

  .delete-text {
    color: #d42b2b;
  }

  .link {
    color: $dark;
  }

  // Not have any project
  .text {
    font-size: 30px;
    margin-top: 100pt;
    color: #858585;
    font-weight: 300;
    cursor: default;
  }

  .createProject {
    color: $blue;
    text-decoration: underline $blue;
    cursor: pointer;
  }

  .circle {
    position: absolute;
    z-index: 1;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .plus {
    position: absolute;
    z-index: 2;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

// Modal Create Project
.cover-size {
  width: 100% !important;
  height: 150px !important;
}

.space-bottom {
  margin-bottom: 0px !important;
}

.create-form {
  color: $dark;
}

.create-project-btn {
  background-color: $blue !important;
  border: 2px solid $blue !important;
  color: $light !important;
  width: 100%;
  border-radius: 10px !important;
}

@media (min-width: 768px) {
  .cover-size {
    height: 200px !important;
  }
}

@media (min-width: 992px) {
  .cover-size {
    height: 250px !important;
  }
}

//image-preview

.imgPreview{
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 500px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
}

img{
  width: 100%;
  height: 100%;
}

.previewText{
  width: 100%;
}