@import "../variables";

#summarize {
  .font {
    font: $font !important;
  }

  .no-margin {
    margin: 0px;
  }

  .no-padding {
    padding: 0px;
  }

  .summary-block {
    background-color: $white;
    border-radius: 20px;
    padding: 30px 0px;
    margin-top: 15px;
    margin-bottom: 50px;
  }

  .title-head {
    font-size: 18px;
    font-weight: 700;
  }

  .avg-time {
    font-size: 25px;
  }

  table {
    border-radius: 20px;
  }

  .table-fixed {
    width: 100%;
    background-color: $white;
    border-radius: 10px;
    border: 1px solid $blue;
  }

  .table-col {
    width: 100vw;
    border-top: transparent;
    border-bottom: 1px solid $blue;
  }

  tbody {
    height: 175px;
    overflow-y: auto;
    width: 100%;
    display: block;
  }
}
