@import "../variables";

#summarize {
  .font {
    font: $font !important;
  }

  .no-margin {
    margin: 0px;
  }

  .no-padding {
    padding: 0px;
  }

  .summary-block {
    background-color: $white;
    border-radius: 20px;
    padding: 30px 0px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .title-head {
    font-size: 18px;
    font-weight: 700;
  }

  .avg-time {
    font-size: 25px;
  }

  table {
    border-radius: 20px;
  }

  .table-fixed {
    width: 100%;
    background-color: $white;
    border-radius: 10px;
    border: 1px solid $blue;
  }

  .table-col {
    width: 100vw;
    border-top: transparent;
    border-bottom: 1px solid $blue;
  }

  tbody {
    height: 175px;
    overflow-y: auto;
    width: 100%;
    display: block;
  }

  .block-result {
    border: 1px solid $blue;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
  }

  
  .count-text {
    width: 35px;
    height: 35px;
    padding-top: 4px;
    color: $white;
    background: $blue;
    border-radius: 100%;
  }

  .column-width {
    width: 100vw !important;
    border-radius: 15px;
    background-color: #ffff;
    border-color: #efefef;
  }

  .showMultiple {
    background-color: #efefef;
    margin: 0px !important;
    padding: 0px !important;
    border-radius: 10px;
    border: aqua;
  }
}
