@import '../variables';

#video-result {
  .video-block{
    width: 1920pt;
    height: 450px;
    background: $black;
  }

  /* experimentprofile */
  .experprofile{
    align-items: center;
    width: 992px;
    height: 465px;
    background: $white;
    position: sticky
  }

  .play-video{
    width: 100%;
    height: 300px;
    display: flex
  }

  /* ปุ่ม usability testnote */
  .bt-testnote{  
    background-color: $white;
    padding: 200px;
    margin-block-end: 500px;
  }

  .bg-experprofile{
    background-color: $white;
    width: 992px;
    height: 465px;
    padding-top: 15px;
    padding-left: 20px;
    margin-top: 100px;
    border-radius: 20px; 
  }

  .bg-questionnaire{
    background-color: $white;
    width: 993px;
    height: 500px;
    padding-top: 15px;
    padding-left: 20px;
    margin-top: 50px;
    border-radius: 20px; 
  }

  .card-video{
    background-color: $black;
    padding: 20px;
    margin-top: 0px;
  }
}