@import 'variables';

body {
  color: $dark !important;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Muli', 'Prompt', sans-serif !important;
  background-color: $light;
}

// Swal

.swal-footer {
  text-align: center;
}