@import 'variables';

/* Experiment Navbar */
#exper-navbar {
  .nav-bgColor {
    position: fixed;
    background-color: $dark;
    min-width: 100%;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
  }
}


/* UXer Navbar*/
#uxer-navbar {
  .nav-dropdown{
    font-size: 20px;
  }
  
  .nav-bgColoruxer {
    background-color: $dark;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    color: $light; 
    padding: 10px 100px;
  }

  .nav-bgColoruxer-mobile {
    background-color: $dark;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    color: $light; 
  }

  .link-text {
    font-size: 16px;
    color: #909090 !important;
  }

  .link-text:hover {
    font-size: 16px;
    color: $white !important;
  }

  .link-text.active {
    font-size: 16px;
    color: $white !important;
  }
  
  .space-title {
    margin-top: 50px;
  }

  .account-box {
    position: relative;
  }

  .dropdown-position {
    position: absolute;
    right: 0;
  }
  
  .border-right-logo {
    border-right: 1px solid #909090;
  }

  .space-icon {
    margin-right: 10px;
  }
  
  .logo-icon {
    width: 50px;
    height: auto;
  }
}

#sub-navbar {
  .nav-bgColoruxer {
    background-color: $dark;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    color: $light;
    padding: 0px 100px;
  }

  .menu-line {
    flex-direction: row !important;
  }

  .menu-block {
    padding: 10px 20px;
  }

  .menu-block:hover {
    .link-text {
      color: $white !important;
    }
  }

  .menu-block.active{
    border-bottom: 3px solid $blue;
    .link-text {
      color: $white !important;
    }
  }

  .link-text {
    font-size: 16px;
    color: #909090;
  }

  @media (max-width: 767.98px) {
    .nav-bgColoruxer {
      padding: 0px;
    }

    .menu-block {
      padding: 5px;
    }
  }
}