/* Experiment Navbar */
#exper-navbar {
  .nav-bgColor {
    background-color:#303030;
    min-width: 100%;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
  }
}


/* UXer Navbar*/
#uxer-navbar {
  .nav-dropdown{
    font-size: 20px;
  
  }
  
  .nav-bgColoruxer {
    background-color:#303030;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    color:#efefef; 
  }
  
  .navLink {
    color: #909090 !important;
  }
  
  .logo-icon {
    width: 50px;
    height: auto;
  }
  
  .hamburger-menu {
    background-color: transparent !important;
    border: 2px solid #efefef !important;
  }
  
  .navbar-toggler-icon {
    color: #efefef !important;
  }
  
  .web-dev{
    font-size: 30px;
    color: #efefef;
    font :left;
    align-self: baseline;
    flex-wrap: wrap-reverse;
    
  }
  .bell-solid{
    grid-area: right;
   
  }
  
  .web-topleft{
  color: #efefef;
  font-size: 15px;
  justify-content:flex-start;
  }
  
  .nav-topright{
  color: #efefef;
  font-size: 15px;
  
  }
  
  .web-user{
    justify-content:flex-start;
    color: #efefef;
  }
}
