@import 'variables';

/* Experiment Navbar */
#exper-navbar {
  .nav-bgColor {
    background-color: $dark;
    min-width: 100%;
    z-index: 1;
    max-width: 100%;
    max-height: 100%;
  }
}


/* UXer Navbar*/
#uxer-navbar {
  .nav-dropdown{
    font-size: 20px;
  }
  
  .nav-bgColoruxer {
    background-color: $dark;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    color: $light; 
  }

  .link-text {
    color: #909090 !important;
  }
  
  .space-title {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .account-box {
    position: relative;
  }

  .dropdown-position {
    position: absolute;
    right: 0;
  }
  
  .border-right-logo {
    border-right: 1px solid #909090;
  }
  
  .logo-icon {
    width: 50px;
    height: auto;
  }
}
