@import "../variables";

#answer {
  .no-margin {
    margin: 0px;
  }

  .no-margin-right {
    margin-right: 0px;
  }

  .space-head-block {
    margin-top: 85px;
  }

  .answer-block {
    background-color: $white;
    border-radius: 20px;
    padding: 30px;
  }

  .title {
    font-size: 30px;
    font-weight: 600;
  }

  .question {
    font-size: 25px;
  }

  .text-style {
    font-size: 18px !important;
  }

  .text-checkbox {
    position: absolute;
    margin-top: 8px;
  }

  .space-btn {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .btn-submit-test {
    background-color: $blue !important;
    border: 2px solid $blue !important;
    color: $light !important;
    width: 100%;
    border-radius: 10px !important;
  }

  .btn-submit-test:hover {
    background-color: $blue-hover !important;
    border: 2px solid $blue-hover !important;
  }
}
